* {
    margin: 0;
    padding: 0;
}
h2 {
    color: #7CFC00;
    text-align: center;
}
h3 {
    color: #81d9f7;
    text-align: center;
}
.header {
    background-color: #111111;
    color: #1E90FF;
    text-align: center;
}
.main1 {
    color: #358d39;
    text-align: center;
}
.main2 {
    color: #000f1e;
    text-align: center;
}
.footer {
    color: #62054e;
    text-align: center;
}
#html_css_js {
    color:#f7463d;
}